* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 2rem;
  background-color: #151515;
  font-family: "Franklin Gothic Medium", Arial;
}

h2 {
  color: #f3f3f3;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 48px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
}